$dk-blue: rgba(38, 70, 83, 1);
// $green: rgba(42, 157, 143, 1);
$yellow: #dca92e;
// $lt-orange: rgba(244, 162, 97, 1);
// $dk-orange: rgba(231, 111, 81, 1);
$rust: #9f3122;
$teal: #41BEAD;
$soft-avocado: #d4f56e;
$campaigns-blue: #65a6da;