/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/31cbbe");

@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');


@font-face {font-family: 'GillSans';font-weight: normal;font-style: normal;src: url('../webfonts/31CBBE_0_0.eot');src: url('../webfonts/31CBBE_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/31CBBE_0_0.woff2') format('woff2'),url('../webfonts/31CBBE_0_0.woff') format('woff'),url('../webfonts/31CBBE_0_0.ttf') format('truetype');}


@font-face {font-family: 'GillSans';font-weight: normal;font-style: italic;src: url('../webfonts/31CBBE_1_0.eot');src: url('../webfonts/31CBBE_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/31CBBE_1_0.woff2') format('woff2'),url('../webfonts/31CBBE_1_0.woff') format('woff'),url('../webfonts/31CBBE_1_0.ttf') format('truetype');}


@font-face {font-family: 'GillSans';font-weight: bold;font-style: normal;src: url('../webfonts/31CBBE_2_0.eot');src: url('../webfonts/31CBBE_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/31CBBE_2_0.woff2') format('woff2'),url('../webfonts/31CBBE_2_0.woff') format('woff'),url('../webfonts/31CBBE_2_0.ttf') format('truetype');}

